<link rel="stylesheet" href="~/css/navbarStyle.css" asp-append-version="true" />
<section id="header">
        <div>
            <ul class="navbar-left">
                
                <li><a href="/Home">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>

        <div>
            <ul class="navbar-right">
                <li><a href="register.html">Register</a></li>
                <li><a href="login.html">Login</a></li>
                <li>
                    <a href="/Cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </div>
</section>