@model IEnumerable<RookiesShop.CustomerSite.Models.Product>
@{
 
}
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
<partial name="Banner"></partial>
<section id="product1" class="section-p1">
      <h2>Feature products</h2>
      <p>Winter Collection New Morden Design</p>
      <div class="pro-container">
          @if (Model !=null)
          {
              @foreach(var p in Model)
              {
                <div class="pro">
                    @{
                        var path = "../img/products/" + p.Image + ".jpg";
                    }
                   
                    <img src=@path alt="" />
                    <div class="des">
                        <span>@Html.DisplayFor(modelItem=>p.Name)</span>
                        <h5>@Html.DisplayFor(modelItem=>p.Description)</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$@Html.DisplayFor(modelItem=>p.Price)</h4>
                    </div>
                    <a href="#"><i class=""></i></a>
                </div>
              }
          }
      </div>
    </section>