@model IEnumerable<CustomerSite.Models.Product>
@{
 
}
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    @if (Model !=null)
    {
        @foreach(var p in Model)
        {
            <div>
               @Html.DisplayFor(modelItem=>p.ID)

            </div>
        }
    }
<section id="product1" class="section-p1">
      <h2>Feature products</h2>
      <p>Winter Collection New Morden Design</p>
      <div class="pro-container">
        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>

        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>
        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>
        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>
        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>
        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>
        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>
        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>
        <div class="pro">
          <img src="~/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Bommber</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class=""></i></a>
        </div>
      </div>
    </section>